
#root{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../src/images/wallpaper.svg);
  background-size: cover;
  font-family:'Segoe UI';
}

.welcome{
  text-align: center;
}

#logo{
  width: 20%;
  height: auto;
  
}

#logo{
  margin-top: 4%;
  margin-bottom: 6%;
}

#welcome_msg{
  margin-bottom: 3%;
  font-size: 1.2rem;
}


#navlogo{
  width: 10%;
  margin-right: 45%;
  margin-left: 3%;
}

