#container{
  background-repeat: no-repeat;
  background: url(../src/images/wallpaper.svg);
  background-size: cover;
}

.welcome{
  text-align: center;
}

#logo{
  width: 30%;
  height: 30%;
}

#logo, p, #welcome_buttons{
  margin-top: 10%;
  margin-bottom: 6%;
  font-size: 2rem;
  font-family: 'Segoe UI, Tahoma, Verdana, sans-serif'
}

#navlogo{
  width: 10%;
  margin-right: 45%;
  margin-left: 3%;
}

#nav_buttons{
  float: right;
  margin-top: 3%;
  margin-right: 3%;
}

