#root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../src/images/wallpaper.svg);
  background-repeat: repeat;
  background-size: cover;
  font-family: 'Nunito', sans-serif;
}

.welcome {
  text-align: center;
}


#logo {
  max-width: 600px;
  margin-top: 2%;
  margin-bottom: 3%;
}

#welcome_msg {
  font-size: 1.2rem;
}

#navlogo {
  width: 200px;
}

.parent {
  background: url(../src/images/wallpaper.svg);
  background-repeat: repeat-y;
  background-size: cover;
}

.welcome {
  height: 100vh;
}

.navbar-toggler {
  outline: none !important;
}

.navbar-collapse .navbar-nav .btn {
  width: 100%;
  padding: 5px 10px;
}

/* logo responsive  */
@media screen and (max-width: 991px) {
  .img-responsive {
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .img-responsive {
    width: 80%;
  }
  #custom_button {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .img-responsive {
    width: 95%;
  }
  #custom_button .btn {
    padding: 5px;
  }
}

@media screen and (max-width: 313px) {
  #navlogo {
    width: 100px;
  }
  .btn .btn-primary .btn-block {
    display: none;
    width: 60%;
  }
  #custom_button .btn {
    padding: 0px;
  }
}

/*Login/Register warning popup*/
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  

.popup-inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 50%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 10px;  
  background:white;  
  font-style: italic;
  text-align: center;  
}

/* Users admin table */

.wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 1em auto;
  padding: 1em;
  font-size: .9rem;
}
.form-control {
  font-size: .8rem!important;
  padding: .375rem .5rem!important;
}


/* Table column sizing
====================== */
.id-cell {
  width: 3%;
}

.fname-cell {
  width: 20%;
}

.username-cell {
  width: 15%;
}

.email-cell {
  width: 27%;
}

.role-cell {
  width: 15%;
}

.status-cell {
  width: 19%;
}

/* Apply styles
=============== */
.FlexTable {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.4);

}
.FlexTable .FlexTable-row {
  width: 100%;
  display: -webkit-box;
  display: flex;
}
.FlexTable .FlexTable-row .FlexTable-cell {
  -webkit-box-flex: 1;
          flex-grow: 1;
  padding: 0.8em 1.2em;
  overflow: hidden;
}
.FlexTable .FlexTable-row .FlexTable-cell.column-heading {
  background-color: #1a1715;
  color: white;
  padding: 1em;
}
.FlexTable .FlexTable-row .FlexTable-cell .FlexTable-cell--heading {
  display: none;
}



/* Responsive
============= */
@media all and (max-width: 750px) {

  .FlexTable--collapse {
    display: block;
    width: 100%;
    padding: 1em;
    box-shadow: none;
  }
  .FlexTable--collapse .FlexTable-row {
    width: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2em;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  }
  .FlexTable--collapse .FlexTable-row .FlexTable-cell {
    width: 100% !important;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
  }

  .FlexTable--collapse .FlexTable-row .FlexTable-cell .FlexTable-cell--heading {
    display: inline-block;
    -webkit-box-flex: 1;
            flex: 1;
    max-width: 120px;
    min-width: 120px;
    color: #1a1715;
    font-weight: 700;
    border-right: 1px solid #1a1715;
    margin-right: 1em;
  }

  .FlexTable--collapse .FlexTable-row .FlexTable-cell .FlexTable-cell--content {
    -webkit-box-flex: 2;
            flex: 2;
    padding-left: 1em;
  }
  .FlexTable--collapse .fname-cell {
    background-color: #1a1715;
    color: white;
    font-weight: 700;
    -webkit-box-ordinal-group: 0;
            order: -1;
  }
  .FlexTable--collapse .fname-cell .FlexTable-cell--content {
    padding-left: 0 !important;
  }
  .FlexTable--collapse .FlexTable-row--head {
    display: none;
  }
}

.no-flexbox .FlexTable {
  display: block;
}
.no-flexbox .FlexTable.FlexTable-cell {
  width: 100%;
}

/*Main content page card images
=========================*/
#mainContentPage{
  text-align: center;
  font-size: 1.2em;
}

.cardDeck{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}


.mainCard{
  justify-content: center;
  background-color: orange;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 1em .5em 1em .5em;
  width: 25vw;
  min-width: 30%;
  height: 37vh;
  border-radius: .5em;
  
}

.mainCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.582);
}

.cardphoto{
  margin-top: 2em;
  align-self: center;
  width: 6vw;
  height: auto;
}
